html, body {
    padding : 0px;
}

body {
    margin: 0;
    background: #544835;
    font-size: 18px;
    color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.msg {
    text-align: center;
    font-size: 13px;
    color: #dcd6cf;
}

.msg a {
    text-decoration: none;
    color: #9c8678;
}

.msg a:active, .msg a:focus, .msg a:hover {
    text-decoration: underline;
}

.msg a:visited {
    text-decoration: none;
    color: #9c8678;
}

.main-block {
    color: #fff;
    width: 512px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 10%;
}

.main-block .logotype-block {
    text-align: center;
    z-index: 99999;
    position: relative;
}

/*
.main-block .logotype-block sup {
    margin-left: 5px;
    margin-top: -10px;
    font-weight: 700;
    font-size: 13px;
    vertical-align: top;
}
*/

.main-block .available-block {
    margin-top: 20px;
    text-align: center;
}

.main-block .send-form {
    margin-top: 50px;
    position: relative;
}

.available-block {
    margin-top: 20px;
    color: #9b9d9e;
}

.available-block h5 {
    font-size: 15px;
    color: #0288d1;
    position: relative;
    /* position: absolute; */
    /* right: 0px; */
    /* margin-bottom: 50px; */
}

.input {
    height: 35px;
    line-height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dcd6cf;
    display: block;
    width: 100%;
    background: none;
    color: #dcd6cf;
    font-size: 16px;
    text-align: center;
}

.input:active, .input:focus {
    outline: none;
}

.button {
    display: block;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    height: 48px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: #fff;
    background: #0288d1;
}

.button:hover {
    background: #027ec2;
}

.transactions-list {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -300px;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.table tr td {
    padding: 10px;
}

.table tbody tr {
    font-size: 14px;
}

#recaptcha_area {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g-recaptcha {
    margin-left: 106px;
}

.footer {
    position: absolute;
    bottom: 0px;
    color: #dcd6cf;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 14px;
}

.footer a {
    color: #9c8678;
    text-decoration: none;
}

.footer a:active, .msg a:focus, .msg a:hover {
    text-decoration: underline;
}

.footer a:visited {
    text-decoration: none;
    color: #9c8678;
}

.error {
    padding: 5px;
    background-color: red;
}

.error p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

.txId {
    padding: 5px;
    background-color: #0288d1;
}

.txId p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}
