html, body {
    padding : 0px;
}

body {
    margin: 0;
    background: #00203f;
    font-size: 24px;
    color: #fff;
    font-family: "Open Sans", "Roboto", Arial, Helvetica, sans-serif;
}

.msg {
    text-align: center;
    font-size: 13px;
    color: #dcd6cf;
}

.msg a {
    text-decoration: none;
    color: #74869b;
}

.msg a:active, .msg a:focus, .msg a:hover {
    text-decoration: underline;
}

.msg a:visited {
    text-decoration: none;
    color: #74869b;
}

.main-block {
    color: #fff;
    width: 667px;
    margin: 0 auto;
    padding: 25px;
}

.main-block .logotype-block {
    text-align: center;
    z-index: 99999;
    position: relative;
    margin: 60px 0 40px 0;
}

.main-block .available-block {
    margin-top: 20px;
    text-align: center;
}

.main-block .testnet-notice {
    text-align: center;
}

.main-block .testnet-notice p {
    margin: 0px;
}

.main-block .send-form {
    margin-top: 60px;
    position: relative;
}

.available-block {
    margin-top: 20px;
    color: #9b9d9e;
}

.available-block h5 {
    font-size: 15px;
    color: #0288d1;
    position: relative;
}

.input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    color: #ffffff;
    display: block;
    font-size: 24px;
    font-weight: 300;
    height: 35px;
    line-height: 35px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

::placeholder {
    color: #344a60;
}

.input:active, .input:focus {
    outline: none;
}

.button {
    background: none;
    border: solid 2px #fff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 10px 5%;
    text-align: center;
    transition: color 233ms cubic-bezier(0.25, 0, 0.25, 1),background-color 233ms cubic-bezier(0.25, 0, 0.25, 1);
    padding: 14px 0;
    width: 90%;
}

.button:hover {
    background: #fff;
    color: #344a60;
}

.transactions-list {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -300px;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.table tr td {
    padding: 10px;
}

.table tbody tr {
    font-size: 14px;
}

#recaptcha_area {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g-recaptcha {
    margin-left: 181px;
}

.footer {
    color: #dcd6cf;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}

.footer a {
    color: #344a60;
    font-weight: bold;
    text-decoration: none;
}

.footer a:active, .msg a:focus, .msg a:hover {
    text-decoration: underline;
}

.footer a:visited {
    text-decoration: none;
    color: #74869b;
}

.error {
    padding: 5px;
    background-color: red;
    margin: 20px 0;
}

.error p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}

.txId {
    padding: 5px;
    background-color: #0288d1;
    margin: 20px 0;
}

.txId p {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}
